<li>
  <%= gravatar_for user %>
  <%= link_to user.name, user %>
  <% if can? :delete, user %>
    | <%= link_to t(:delete), user, method: :delete,
                                  data: { confirm: "Are you sure?" } %>
  <% end %>
</li>
