<li id="<%= category.id %>">
  <span class="user"><b><%= category.name %></b></span>
  <span>
      <%= link_to (t :delete), supervisor_category_path(category), method: :delete,
                                       data: { confirm: (t :you_sure) } %>
  </span>
</li>
